.logo {
    height: 200px;
    width: 200px;
}

#hero-img{
    height: 600px;
    width: 950px;
}

.icon {
    height:40px;
    width: 40px;
}

.camping-card .icon{
    height: 40px;
    width: 60px;
}

.fb_icon {
    height: 40px;
    width: 40px;
}

.tw_icon {
    height: 40px;
    width: 40px;
}

.ig_icon {
    height: 40px;
    width: 40px;
}